article
  h1 This is a core component
  div
    h5 Make your Global visual elements here
    h5 import your page views as dependencies to see see your full application

footer
  h6 This should be the ultimate-Parent State for all other views

ui-view
